@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --firstBackgroundColor: #f2f0ef;
  --secondBackgroundColor: #f9fafb;
  --firstFontColor: #66615e;
  --secondFontColor: #4b5563;
}

body {
  color: var(--foreground);
  background: var(--secondBackgroundColor);
  font-family: Arial, Helvetica, sans-serif;
}

.text-first {
  color: var(--firstFontColor);
}

.text-second {
  color: var(--secondFontColor);
}

.bg-first {
  background: var(--firstBackgroundColor);
}

.bg-second {
  background: var(--secondBackgroundColor);
}
