@tailwind base;
@tailwind components;
@tailwind utilities;

/* BREAKPOINTS */
/* 
xxs 20rem       320px
xs  30rem       480px
sm	40rem (640px)	@media (width >= 40rem) { ... }
md	48rem (768px)	@media (width >= 48rem) { ... }
lg	64rem (1024px)	@media (width >= 64rem) { ... }
xl	80rem (1280px)	@media (width >= 80rem) { ... }
2xl	96rem (1536px)	@media (width >= 96rem) { ... } 
*/

:root {
  --firstBackgroundColor: #f2f0ef;
  --secondBackgroundColor: #f9fafb;
  --firstFontColor: #66615e;
  --secondFontColor: #878889;
}

html,
body {
  color: var(--foreground);
  background: var(--secondBackgroundColor);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.text-first {
  color: var(--firstFontColor);
}

.text-second {
  color: var(--secondFontColor);
}

.bg-first {
  background: var(--firstBackgroundColor);
}

.bg-second {
  background: var(--secondBackgroundColor);
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  white-space: nowrap;
  animation: scroll 30s linear infinite;
}
